.ranges {

  .range {
    background-size: 100% 100%;
    background-image: url('../public/images/help-page/switch/slider_short_off_4.png');

    .overlay {
      content: '';
      background-image: url('../public/images/help-page/switch/slider_short_on_4.png');
    }
  
    .slider {
      background-image: url('../public/images/help-page/switch/Round_button_1.png');
    }
  

  }
}